div div div div {
    display: inline-block;
}

.star-yellow {
    color: gold
}

.star-orange {
    color: orange;
}

.star-gray {
    color: #d2d2d2
}

.pointer {
    cursor: hand;
    cursor: pointer;
}