div div div div {
    display: inline-block;
}

.star-gold {
    color: #ffd700;
}

.star-orange {
    color: #ffa500;
}

.star-gray {
    color: #d2d2d2;
}

.pointer {
    cursor: pointer;
}

.size-15 {
    font-size: 15px;
}

.size-30 {
    font-size: 30px;
}

.bottom-15em {
    margin-bottom: 1.5em; 
}

.bgc {
    background-color: #dcdcdc;
}

.box {
    border: 3px solid #003059;
    padding: 25px;
    background-color: #d6ecff;
    border-radius: 10px;
}