div p {
    display: inline-block;
}

.star1 {
    color: palegoldenrod;
}
.star2 {
    color: palegoldenrod;
}
.star3 {
    color: palegoldenrod;
}
.star4 {
    color: #d2d2d2;
}
.star5 {
    color: #d2d2d2;
}