div div div div {
    display: inline-block;
}

.star-gold {
    color: #ffd700;
}

.star-orange {
    color: #ffa500;
}

.star-gray {
    color: #d2d2d2;
}

.pointer {
    cursor: pointer;
}

.size-15 {
    font-size: 15px;
}

.size-30 {
    font-size: 30px;
}

.bottom-05em {
    margin-bottom: 0.5em;
}

.bottom-15em {
    margin-bottom: 1.5em; 
}

.bgc {
    background-color: #dcdcdc;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 3px;
    padding: 5px;
    background-color: #d6ecff;
    border-radius: 10px;
}

.flex-item {
    border: 3px;
    width: 100%;
    padding: 5px;
    background-color: #F3F9FF;
    border-radius: 10px;
}


.boxwrap{
    margin:40px auto;
    width:400px;
    padding:20px 60px;
    border:1px solid #ddd;
    background-color: #efefef;
  }
.wrap{
    margin: auto;
    width: 300px;
    background-color: #7178a7;
    color: #fff;
    border-radius: 5px;
}

.wrap.pattern-5{
height:60px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
}