div div div div {
    display: inline-block;
}

.star-gold {
    color: #ffd700;
}

.star-orange {
    color: #ffa500;
}

.star-gray {
    color: #d2d2d2;
}

.pointer {
    cursor: pointer;
}

.size-15 {
    font-size: 15px;
}

.size-30 {
    font-size: 30px;
}

.bottom-05em {
    margin-bottom: 0.5em;
}

.bottom-15em {
    margin-bottom: 1.5em; 
}

.bgc {
    background-color: #dcdcdc;
}

.parent {
    width: 200px;
    height: 100px;
    margin: 5px;
    border: 0.5px solid #d6ecff;
    border-radius: 10px;
    background-color: #d6ecff;

    position: relative;
}

.child {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    background-color: #F9FCFF;

    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/* .box {
    display: flex;
    width: fit-content;
    border: 3px;
    background-color: #d6ecff;
    border-radius: 10px;
    padding: 5px;
} */