div div div div {
    display: inline-block;
}

div div {
    line-height: 2;
}

.star-gold {
    color: #ffd700;
}

.star-orange {
    color: #ffa500;
}

.star-gray {
    color: #d2d2d2;
}

.pointer {
    cursor: pointer;
}

.size-15 {
    font-size: 15px;
}

.size-30 {
    font-size: 30px;
}
