div {
    display: inline flow-root;
}

.star-gold {
    color: #ffd700;
}

.star-orange {
    color: #ffa500;
}

.star-gray {
    color: #d2d2d2;
}

.pointer {
    /* cursor: hand; */
    cursor: pointer;
}