<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>評価ありがとうございました</title>

    <!-- <link rel="stylesheet" href="static/style.css" type="text/css"> -->
</head>

<body style="text-align:center">
    <script src="https://unpkg.com/vue@next"></script>

    <div>
        <p>チャットボットの評価ありがとうございました😄</p>
    </div>

    <div>
        <p>平均星評価：<span>{{ avg_star_rate }}</span></p>
    </div>

    <div>
        <p>星評価ごとのコメントを表示</p>
        <div id="app">
            <select v-model="item">
                <option v-for="item in items">{{ item }}</option>
            </select>
        </div>
        <p v-if="item==='★1'">{{ one_star_comment}}</p>
        <p v-else-if="item==='★2'">{{ two_star_comment}}</p>
        <p v-else-if="item==='★3'">{{ three_star_comment}}</p>
        <p v-else-if="item==='★4'">{{ four_star_comment}}</p>
        <p v-else-if="item==='★5'">{{ five_star_comment}}</p>
    </div>
</body>

</html>

<script>
    const Display = {
        data() {
            return {
                item: "",
                items: [
                    "★1",
                    "★2",
                    "★3",
                    "★4",
                    "★5"
                ]
            }
        }
    }
    Vue.createApp(Display).mount("#app")
</script>