<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>評価ありがとうございました</title>

    <!-- <link rel="stylesheet" href="static/style.css" type="text/css"> -->
</head>

<body style="text-align:center">
    <script src="https://unpkg.com/vue@next"></script>

    <div>
        <p>
            <b>チャットボットの評価ありがとうございました😄</b>
        </p>
    </div>

    <div>
        <p>平均星評価：{{ average_rate }}</p>
    </div>

    <div id="app">
        <p>他の人のコメントを見る</p>
        <select v-model="item">
            <option v-for="item in items">[[ item ]]</option>
        </select>
        <p v-if="item=='★0'">
            {{ zero_stars[0] }}<br>
            {{ zero_stars[1] }}<br>
            {{ zero_stars[2] }}
        </p>
        <p v-else-if="item=='★1'">
            {{ one_star[0] }}<br>
            {{ one_star[1] }}<br>
            {{ one_star[2] }}
        </p>
        <p v-else-if="item=='★2'">
            {{ two_stars[0] }}<br>
            {{ two_stars[1] }}<br>
            {{ two_stars[2] }}
        </p>
        <p v-else-if="item=='★3'">
            {{ three_stars[0] }}<br>
            {{ three_stars[1] }}<br>
            {{ three_stars[2] }}
        </p>
        <p v-else-if="item=='★4'">
            {{ four_stars[0] }}<br>
            {{ four_stars[1] }}<br>
            {{ four_stars[2] }}
        </p>
        <p v-else-if="item=='★5'">
            {{ five_stars[0] }}<br>
            {{ five_stars[1] }}<br>
            {{ five_stars[2] }}
        </p>
    </div>
</body>

</html>

<script>
    const Display = {
        delimiters: ['[[', ']]'],
        data() {
            return {
                item: "",
                items: [
                    "★0",
                    "★1",
                    "★2",
                    "★3",
                    "★4",
                    "★5"
                ]
            }
        }
    }
    Vue.createApp(Display).mount("#app")
</script>