<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>評価ありがとうございました</title>

    <link rel="stylesheet" href="static/style.css" type="text/css">
</head>

<!--  style="text-align:center" -->

<body>
    <script src="https://unpkg.com/vue@next"></script>

    <div class="bottom-25">
        <p class="bgc">平均星評価</p>
        <p class="size-30"><span class="star-gold">★</span>{{ average_rate }}</p>
    </div>

    <div id="app">
        <p class="bgc">寄せられたコメント</p>
        <select v-model="item" class="size-15">
            <option v-for="item in items">[[ item ]]</option>
        </select>
        <div v-if="item=='★0'">
            <ul>
                <li type="square">{{ zero_stars[0] }}</li>
                <li type="square">{{ zero_stars[1] }}</li>
                <li type="square">{{ zero_stars[2] }}</li>
            </ul>
        </div>
        <div v-else-if="item=='★1'">
            <ul>
                <li type="square">{{ one_star[0] }}</li>
                <li type="square">{{ one_star[1] }}</li>
                <li type="square">{{ one_star[2] }}</li>
            </ul>
        </div>
        <div v-else-if="item=='★2'">
            <ul>
                <li type="square">{{ two_stars[0] }}</li>
                <li type="square">{{ two_stars[1] }}</li>
                <li type="square">{{ two_stars[2] }}</li>
            </ul>
        </div>
        <div v-else-if="item=='★3'">
            <ul>
                <li type="square">{{ three_stars[0] }}</li>
                <li type="square">{{ three_stars[1] }}</li>
                <li type="square">{{ three_stars[2] }}</li>
            </ul>
        </div>
        <div v-else-if="item=='★4'">
            <ul>
                <li type="square">{{ four_stars[0] }}</li>
                <li type="square">{{ four_stars[1] }}</li>
                <li type="square">{{ four_stars[2] }}</li>
            </ul>
        </div>
        <div v-else-if="item=='★5'">
            <ul>
                <li type="square">{{ five_stars[0] }}</li>
                <li type="square">{{ five_stars[1] }}</li>
                <li type="square">{{ five_stars[2] }}</li>
            </ul>
        </div>
    </div>
</body>

</html>

<script>
    const Display = {
        delimiters: ['[[', ']]'],
        data() {
            return {
                item: "",
                items: [
                    "★0",
                    "★1",
                    "★2",
                    "★3",
                    "★4",
                    "★5"
                ]
            }
        }
    }
    Vue.createApp(Display).mount("#app")
</script>